table.small_table{
    border-collapse: collapse;
    padding: 10px;
    margin: 1rem auto;
    border-radius: 10px;
    background-color: rgb(202, 242, 255);
}
tbody.small_table{
    padding: 3px;

}
.small_table input{
    height: 1.1rem;
    width: 4.3rem;
    font-size: 0.8rem;
}
.label_2 td{
    padding-bottom: 4px;
}
.label td{
    font-size: 90%;
    padding-top: 4px;
}
.text_preview.valid{
    background-color: rgb(199, 255, 191);
}
.text_preview.invalid{
    background-color: rgb(250, 209, 214);
}
.table_preview input{
    height: 1.5em;
    border: none;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    transition-duration: 0.3s;
}
.table_preview input:focus{
    outline: solid rgb(170, 170, 170) 1px;
}
.table_preview{
    background-color: rgb(226, 233, 243);
    margin: 20px auto;
    padding: 20px;
    border-radius: 20px;
}
.table_preview td,.table_preview th{
    padding: 0 0.4em;
}
input.submit_button{
    border-radius: 10px;
    background-color: #6dd8ff;
    padding: 0.2em;
    height: auto;
    margin-top: 1em;
}