*,
*::before,
*::after {
  box-sizing: border-box;
}
.drop_hover{
    transition: 0.2s ease-out;
}
.drop_hover:hover{
    filter:drop-shadow(0 0 0.3em rgb(180, 180, 180));
}
.shadow_hover :hover{
    box-shadow:(0 0 5px 5px gray);
}
.underline{
    position: relative;
    text-decoration: none;
}
.underline::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: darkgrey;
    transform: scaleX(0);
    transform-origin: left;
    transition:transform 0.3s ease-out;
}
.underline:hover::after{
    transform: scaleX(1);
}
body{
    background-color: rgb(245, 245, 245);
}
.shadow_1{
    box-shadow: 0 0 0.5em 0.05em rgb(184, 184, 184);
}
.shadow_2{
    box-shadow: 0 0 0.3em 0.01em rgb(184, 184, 184);    
}
input{
    box-shadow: 0 0 0.3em 0.01em rgb(184, 184, 184);
    background-color: none;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border: none;
    border-radius: 0.3em;
}
input:focus{
    outline: solid rgb(170, 170, 170) 1px;
}
/* login.php */
#login{
    background-color: rgb(247, 247, 247);
    text-align: center;
}
.flex{
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}
#logo_login{
    margin: 2rem auto;
    max-width: 40%;
    height: auto;
}
.input_content{
    padding: 8px;
    margin: 0.5em auto;
}
.input_content input{
    width: 10em;
    height: 2em;
    font-size: 100%;
    margin: 0 0.5em;
}
b{
    font-size: 120%;
    padding: 8px;
    margin-bottom: 5px;
}
.center{
    margin: 0 auto;
}
.bigger{
    font-size: 130%;
}
.submit_button{
    width: 150px;
    height: auto;
    background-color: #6dd8ff;
    border: none;
    border-radius: 15px;
    transition-duration: 0.2s;
    color: black;
    text-decoration: none;
    margin: 0.5em;
    padding: 0.1em;
    
}
.submit_button:hover{
    background-color: #aee9ff;
    transition-duration: 0.2s;
    box-shadow: 0 0 0.5em 0.05em rgb(184, 184, 184);
}
/* new_register.php */


/* index.php */

h1{
    border-bottom: 1px gray solid;
    padding: 1% 1% 1% 20%;
    margin: 1%;
}
h2{
    padding: 1% 1% 1% 20%;
    margin-bottom: 0.2em;
}
.box{
    max-width: 60%;
    border:none;
    border-radius: 20px;
    background-color: white;
    margin: 20px auto;
    text-align: center;
    padding: 1em;
}
table.separate{
    border-collapse:separate;
    border-radius: 10px;
    border-spacing: 20px;
}
.separate.th,.separate.td{
    padding: 12px;
}
.separate.tr{
    background-color: ghostwhite;
}

.upper_manu{
    padding: 20px;
}
.inline_button{
    display: inline-block;
    background-color: deepskyblue;
    width: 23%;
    height: 35px;
    font-weight:bold;
    color: white;
    padding: 10px;
    text-decoration: none;
    text-align: center;
}
.back_button{
    display: inline-block;
    background-color: rgb(87, 87, 87);
    width: 150px;
    height: auto;
    color: white;
    text-decoration: none;
    text-align: center;
    box-shadow: 0 0 0.3em 0.01em rgb(184, 184, 184);    

    
}
.back_button:hover{
    background-color: rgb(128, 128, 128);
    box-shadow: 0 0 0.5em 0.05em rgb(184, 184, 184);    

}
.input_label{
    width: 4em;
    max-width: 100%;
}
span.circle{
    background-color: rgb(231, 231, 231);
    border: 1px gray solid;
    border-radius: 10px;
    font-size: smaller;
    padding: 7px;
    margin: 7px;
}
.button_1{
    background-color: lightblue;
}
.text_preview{
    width: 7em;
}
.band_preview{
    width: 16em;
}
.songs_preview{
    width: 2em;
}
#uplord_submit{
    text-align: center;
}
#uplord_submit td{
    margin: 3em 3em;
}
/* #uplord_submit input{
    background-color: rgb(183, 255, 177);
    font-size: 150%;
    border-radius: 10px;
    margin-top: 1em;
    box-shadow:0 0 10px rgb(153, 153, 153);
    width: 8em;
    height: 2em;    
} */
.banner {
    width: 100%;
    text-align: left;
    padding: 10px 10px 10px 20%;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}
.toggle_content{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    border: 1px solid #ccc;
    padding: 0 10px;
}
.toggle_content.active{
    max-height: 200px;
    padding: 10px;
}

@media (max-width:767px) {
    #logo_login{
        max-width: 90%;
    }
    #login .box{
        max-width: 90%;
    }
    .input_content input[type="text"],.input_content input[type="password"]{
        width: 100%;
    }
    .input_content input[type="submit"]{
        width: auto;
    }
    .box{
        max-width: 95%;
    }
    .input_content{
        padding: 0;
    }
}