.submit_button{
    width: 150px;
    height: 40px;
    background-color: deepskyblue;
    color: white;
}
.upper_manu{
    padding: 20px;
}
.inline_button{
    display: inline-block;
    background-color: deepskyblue;
    width: 23%;
    height: 35px;
    font-weight: bold;
    color: white;
    padding: 10px;
    text-decoration: none;
    text-align: center;
}
.back_button{
    display: inline-block;
    background-color: rgb(87, 87, 87);
    width: 23%;
    height: 35px;
    font-weight: bold;
    color: white;
    padding: 10px;
    text-decoration: none;
    text-align: center;

}
.input_label{
    width: 8em;
    max-width: 100%;
}
.not-border{
    border-collapse: collapse;
    background-color: none;
}
th.not-border{
    padding: 5px;
    border: gray 1px solid;
}
tr.not-border{
    padding: 5px;
    border: gray 1px solid;
}