*,
*::before,
*::after {
  box-sizing: border-box;
}
.drop_hover :hover{
    filter:drop-shadow(1px 1px 3px rgb(180, 180, 180));
    transition: 0.4s;
}
.shadow_hover :hover{
    box-shadow:(0 0 5px 5px gray);
}
body{
    background-color: rgb(245, 245, 245);
}
/* login.php */
#login{
    background-color: rgb(247, 247, 247);
    text-align: center;
}
.flex{
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
}
#logo_login{
    margin: 0 auto;
    max-width: 40%;
    height: auto;
}
.input_content{
    padding: 8px;
}
.input_content input{
    width: 10em;
    height: 2em;
    font-size: 100%;
    padding-left: 0.5em;
    padding-right: 0.5em;
    border-radius: 10px;
    border: 1px solid rgb(201, 201, 201);
}
.center{
    margin: 0 auto;
}
.bigger{
    font-size: 150%;
}

/* index.php */
.site_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: #ffffff;
    color: white;
}
.main_nav{
    list-style: none;
    font-size: 1.5em;
    font-weight: bold;
    text-decoration: none;
}
.main-nav li{
    margin-left: 20px;
}
.main-nav a{
    color: black;
}
.main-nav a:hover{
    color: rgb(235, 57, 57);
    transition: 0.3s;
}

h1{
    border-bottom: 1px gray solid;
    padding: 10px;
}
h2{
    padding-left:8px;
}
.box{
    max-width: 60%;
    border:none;
    border-radius: 20px;
    background-color: white;
    margin: 20px auto;
    text-align: center;
    box-shadow: 0 0 0.5em 0.05em rgb(184, 184, 184);
}
#login .box{
    max-width: 30%;
    padding: 30px;
    margin-top: 50px;
}
table.separate{
    border-collapse:separate;
    border-radius: 10px;
    border-spacing: 20px;
}
.separate.th,.separate.td{
    padding: 12px;
}
.separate.tr{
    background-color: ghostwhite;
}
.submit_button{
    width: 150px;
    height: 40px;
    background-color: #aee9ff;
    color: rgb(0, 62, 90);
    border: none;
    border-radius: 15px;
}
.upper_manu{
    padding: 20px;
}
.inline_button{
    display: inline-block;
    background-color: deepskyblue;
    width: 23%;
    height: 35px;
    font-weight:bold;
    color: white;
    padding: 10px;
    text-decoration: none;
    text-align: center;
}
.back_button{
    display: inline-block;
    background-color: rgb(87, 87, 87);
    width: 23%;
    height: 35px;
    font-weight: bold;
    color: white;
    padding: 10px;
    text-decoration: none;
    text-align: center;

}
.input_label{
    width: 4em;
    max-width: 100%;
}
table.not_border{
    border-collapse: collapse;
    padding: 10px;
}
.not_border td{
    padding: 5px;
}
.not_border td{
    background-color: rgb(245, 245, 245);
}
tr.label{
    font-size: 90%;
}
.row{
    padding: 10px;
}
.row b{
    font-size: 120%;
    padding: 8px;
    margin-bottom: 5px;
}
span.circle{
    background-color: rgb(231, 231, 231);
    border: 1px gray solid;
    border-radius: 10px;
    font-size: smaller;
    padding: 7px;
    margin: 7px;
}
.button_1{
    background-color: lightblue;
}
.text_preview{
    width: 7em;
}
.band_preview{
    width: 16em;
}
.songs_preview{
    width: 2em;
}
.table_preview input{
    height: 1.5em;
    border: none;
    border-radius: 3px;
    background-color: rgb(255, 255, 255);
    transition-duration: 0.3s;
}
/* .table_preview input:placeholder-shown{
    background-color: rgb(219, 218, 218);
    border-radius: 3px;
    background-color: rgb(241, 241, 241);
    box-shadow: inset 0 0 0 3px  whitesmoke;
    
} */
.table_preview input:focus{
    outline: solid rgb(170, 170, 170) 1px;
}
.table_preview{
    background-color: rgb(189, 214, 238);
    margin: 20px auto;
    padding: 20px;
    border: 1px rgb(204, 204, 204) solid;
    border-radius: 20px;
}
.table_preview td,.table_preview th{
    padding: 0 0.4em;
}
#uplord_submit{
    text-align: center;
}
#uplord_submit td{
    margin: 3em 3em;
}
#uplord_submit input{
    background-color: rgb(183, 255, 177);
    font-size: 150%;
    border-radius: 10px;
    margin-top: 1em;
    /* border: 1px rgb(204, 204, 204) solid; */
    box-shadow:0 0 10px rgb(153, 153, 153);
    width: 8em;
    height: 2em;    
}
.text_preview.valid{
    background-color: rgb(201, 250, 196);
}
.text_preview.invalid{
    background-color: rgb(255, 223, 227);
}
@media (max-width:767px) {
    #logo_login{
        max-width: 90%;
    }
    #login .box{
        max-width: 90%;
    }
    .input_content input[type="text"],.input_content input[type="password"]{
        width: 100%;
    }
    .input_content input[type="submit"]{
        width: auto;
    }
}