body{
    background-color: aliceblue;
    }
h1{
    border-bottom: 1px gray solid;
    padding: 10px;
}
.box{
    width: 60%;
    border: 1px gray solid;
    border-radius: 10px;
    margin: 0 auto;
    background-color: white;
}
table{
    border-collapse:separate;
    border-radius: 10px;
    border-spacing: 20px;
}
th,td{
    padding: 12px;
}
tr{
    background-color: ghostwhite;
}
.submit_button{
    width: 150px;
    height: 40px;
    background-color: deepskyblue;
    color: white;
}
.upper_manu{
    padding: 20px;
}
.inline_button{
    display: inline-block;
    background-color: deepskyblue;
    width: 23%;
    height: 35px;
    font-weight: bold;
    color: white;
    padding: 10px;
    text-decoration: none;
    text-align: center;
}
.back_button{
    display: inline-block;
    background-color: rgb(87, 87, 87);
    width: 23%;
    height: 35px;
    font-weight: bold;
    color: white;
    padding: 10px;
    text-decoration: none;
    text-align: center;

}

